<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="console">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="DailyRoll" fileName="./logs/${date:yyyy}/${date:MM}/${date:dd}_AllLogs.log"
                     filePattern="./logs/${date:yyyy} - ${date:MMM}/%d{dd} - AllLogs-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t]  %l %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?" />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="DailyRoll" />
            <AppenderRef ref="console" level = "info"/>
        </Root>
    </Loggers>

</Configuration>